
*.cmp.kpt
*.qmsg
*.bak
*.rpt
*.summary
*.sof
*.sld
*.pin
*.jdi
*.smsg
*.done
*.ammdb
.~lock.*
*/db
/labs/buses/SPI/simulation
/labs/buses/SPI/c5_pin_model_dump.txt
/labs/buses/SPI/incremental_db
*.cdb
*.hdb
*.cdf
*.flock
